<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mattPhillips.example.financeapplicationassignment"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="22" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="mattPhillips.example.financeapplicationassignment.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="mattPhillips.example.financeapplicationassignment.Accounts">
            <intent-filter>
                <action android:name="android.intent.action.ACCOUNTS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="mattPhillips.example.financeapplicationassignment.Goals">
            <intent-filter>
                <action android:name="android.intent.action.GOALS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="mattPhillips.example.financeapplicationassignment.Options">
            <intent-filter>
                <action android:name="android.intent.action.OPTIONS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="mattPhillips.example.financeapplicationassignment.QuickPay">
            <intent-filter>
                <action android:name="android.intent.action.QUICKPAY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>